:root {
  --win95-grey: #c0c0c0;
  --win95-white: #ffffff;
  --win95-black: #000000;
  --win95-blue: #000080;
  --win95-light-grey: #dfdfdf;
  --win95-dark-grey: #808080;
}

.window-frame {
  position: absolute;
  border: 2px solid var(--win95-light-grey);
  border-right-color: var(--win95-dark-grey);
  border-bottom-color: var(--win95-dark-grey);
  background-color: var(--win95-grey);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  font-family: "MS Sans Serif", Arial, sans-serif;
  font-size: 11px;
}

.window-frame.maximized {
  left: 0 !important;
  top: 0 !important;
  width: 100vw !important;
  height: 100vh !important;
  border: none;
}

.window-frame.minimized .content {
  display: none;
}

.title-bar {
  background: linear-gradient(to right, var(--win95-blue), #1e90ff);
  color: var(--win95-white);
  padding: 3px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: move;
  user-select: none;
}

.title {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.icon {
  margin-right: 5px;
}

.buttons {
  display: flex;
}

.buttons button {
  background-color: var(--win95-grey);
  border: 1px solid var(--win95-light-grey);
  border-right-color: var(--win95-dark-grey);
  border-bottom-color: var(--win95-dark-grey);
  width: 20px;
  height: 20px;
  margin-left: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.buttons button:active {
  border-top-color: var(--win95-dark-grey);
  border-left-color: var(--win95-dark-grey);
  border-right-color: var(--win95-light-grey);
  border-bottom-color: var(--win95-light-grey);
}

.content {
  flex-grow: 1;
  padding: 10px;
  background-color: var(--win95-white);
  border: 1px solid var(--win95-dark-grey);
  margin: 3px;
  overflow: auto;
}

/* Classic Scrollbar */
.content::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

.content::-webkit-scrollbar-track {
  background-color: var(--win95-light-grey);
}

.content::-webkit-scrollbar-thumb {
  background-color: var(--win95-grey);
  border: 1px solid var(--win95-light-grey);
  border-right-color: var(--win95-dark-grey);
  border-bottom-color: var(--win95-dark-grey);
}

.content::-webkit-scrollbar-button {
  background-color: var(--win95-grey);
  border: 1px solid var(--win95-light-grey);
  border-right-color: var(--win95-dark-grey);
  border-bottom-color: var(--win95-dark-grey);
  display: block;
  height: 16px;
  width: 16px;
}